* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

nav {
    margin-bottom: 2rem;
}

a {
    color: #1d4ed8;
}

.button {
    background-color: #e0e0e0;
    border: 0.33px solid #919191;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
    border-radius: 0.5rem;
}

.company {
    margin-bottom: 24px;
}

.company-logo {
    width: 40px;
    height: 40px;
    border-radius: 0.3rem;
    margin-right: 8px;
}

.company-name {
    font-weight: bold;
}

.company-role {
    font-size: 0.9rem;
    color: #666;
}

.company-duration {
    font-size: 0.9rem;
    color: #666;
}

.company-location {
    font-size: 0.9rem;
    color: #666;
}