* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav-links {
    display: flex;
}

.nav-links-separator {
    padding: 0 6px;
}

a {
    color: #1d4ed8;
}

.button {
    background-color: #e0e0e0;
    border: 0.33px solid #919191;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
    border-radius: 0.5rem;
}

.flex {
    display: flex;
    justify-content: start;
    align-items: center;
}